book_catalog {
	background-color: lightgray;
	width:  100%;
}

book:nth-child(odd) {
	background-color: lightblue;
}

book {
	display: block;
	padding-top: 20pt;
	padding-bottom: 20pt;
}

title {
	display:  block;
	color: red;
	font-weight: bold;
	padding-left: 15pt;
}

author {
	display: block;
	padding-left: 15pt;
}

publisher {
	display: block;
	padding-left: 15pt;
}

length {
	display:  block;
	padding-left: 15pt;
}