book_catalog {
	background-color: lightgray;
	width:  100%;
}

book_odd {
	display: block;
	padding-top: 20pt;
	padding-bottom: 20pt;
	background-color: lightblue;
}

book_even {
	display: block;
	margin-top: 20pt;
	margin-bottom: 20pt;
}

title {
	display:  block;
	color: red;
	font-weight: bold;
	padding-left: 15pt;
}

author {
	display: block;
	padding-left: 15pt;
}

publisher {
	display: block;
	padding-left: 15pt;
}

pages {
	display:  block;
	padding-left: 15pt;
}