book_catalog {
	background-color: lightgray;
	width:  100%;
}

book {
	display: block;
}

title {
	display:  block;
	color: red;
	font-weight: bold;
}

author {
	display: block;
}

publisher {
	display: block;
}

pages {
	display:  block;
}